<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/header.css">
</head>

<body>
  <header>
    <img class="logo" src="/images/dispoLogo.png" alt="logo">
    <nav>
      <ul class="nav__links">
        <a class="cta" href="/index"><button>Home</button></a>

        <li>
          <form action="/resultadoBusqueda" method="get">
            <input type="text" class="text" name="search" placeholder="Buscar Posteo" href="/resultadoBusqueda">
            <button>Buscar</button>
          </form>
        </li>
        <a class="cta" href="/post/agregarPost"><button>Agregar Post</button></a>
        <a class="cta" href="/users/detalleUsuario/6"></a><button>Mi Perfil</button></a>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
    </nav>

  </header>
</body>

</html>