<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dispo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/header.css">
</head>
<body>
    <header>
      <img class="logo" src="/images/dispoLogo.png" alt="logo" href="/index">
      <nav>
        <ul class="nav__links">
          <a class="cta" href="/index"><button>Home</button></a>
          <a class="cta" href="/users/login"><button>Login</button></a>
          <a class="cta" href="/users/registracion"><button>Registrate</button></a>
        </ul>
      </nav>

    </header>
</body>
</html> 

