<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispo</title>
    <link rel="icon"
        href="https://is3-ssl.mzstatic.com/image/thumb/Purple124/v4/e4/99/87/e49987ad-39a6-2b90-c7cd-38a1379735dc/AppIcon-1x_U007emarketing-0-7-0-85-220.png/460x0w.webp"
        type="image/x-icon">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footers.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/images/dispoLogo.css">
    
    

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <header>
      <img class="logo" src="/images/dispoLogo.png" alt="logo">
      <nav>
        <ul class="nav__links">
          <a class="cta" href="/index"><button>Home</button></a>
  
          <li>
            <form action="/resultadoBusqueda" method="get">
              <input type="text" class="text" name="search" placeholder="Buscar Posteo" href="/resultadoBusqueda">
              <button>Buscar</button>
            </form>
          </li>
          <% console.log(locals.users)%> 
          <% if(locals.users) {%> 
          <a class="cta" href="/post/agregarPost"><button>Agregar Post</button></a>
          <a class="cta" href="/users/detalleUsuario/:id"><button>Mi Perfil</button></a>
          <li><a href="/users/logout">Logout</a></li>
          <%} else{ %> 
          <a class="cta" href="/index"><button>Home</button></a>
          <a class="cta" href="/users/login"><button>Login</button></a>
          <a class="cta" href="/users/registracion"><button>Registrate</button></a>
          <%}%>
        </ul>
      </nav>
  
    </header>
 
  
