<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dispo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/header.css">
</head>
<body>
    <header>
      <img class="logo" src="/public/images/dispoLogo.png" alt="logo">
      <nav>
        <ul class="nav__links">
            <li><a href="/index">Home</a></li>
            <li><a href="users/login">Login</a></li>
            <li><a href="users/registracion">Registracion</a></li>
        </ul>
      </nav>
      <a class="cta" href="post/agregarPost"><button>Agregar Post</button></a>
      <a class="cta" href="users/miPerfil"><button>Mi Perfil</button></a>
    </header>
</body>
</html> 

