<!DOCTYPE html>
<html lang="en">

    <%-include("./partials/header")%>
   

<body>
    <%-include("./partials/headerLogueado")%>


    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="">
                    <h2>Agregar post</h2>
            
                        <div class="form-group">
                            <label for="exampleInputImagen">Imagen</label>
                            <input type="imagen" class="form-control" id="exampleInputImagen" placeholder="Inserte la imagen">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputDescripcion"> Descripción</label>
                            <input type="descripcion" class="form-control" id="exampleInputDescripcion" placeholder="Ingrese la descripcion">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputFecha">Fecha</label>
                            <input type="Fecha" class="form-control" id="exampleInputFecha" placeholder="Ingrese la fecha">
                        </div>
    
                        <button type="submit" class="botonEnviar">Enviar</button>
                
                </form>

            </div>
        </div>
    </main>
    
    <%-include("./partials/footers")%>
</body>

</html>