footer {
    height: 40px;
    color: white;
    padding: 0 10px;
    background-color: rgb(69, 212, 69);
position: absolute;
width: 100%;
bottom: 0px;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-top: 0;
}
