/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* FONTS */


header{
    height: 55px;
    padding-top: 10px;
}
header section{
    height: 100%;
}
header section nav{
    height: 100%;
}
header nav ul li a,
header a{
    color: black;
}
header nav ul li a:hover,
header a:hover{
    color: black;
    text-decoration: none;
}
.logo{
    position: fixed;}
.logo a{
    font-family: 'Fjalla One', sans-serif;
    color: black;
}
.logo a:hover {
    text-decoration: none;
    color: black;
}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header div.uk-navbar-center ul li{
    padding: 0 10px;
    border-right: 1px solid black;
}
header .uk-navbar-right a{
    margin-right: 15px;
}

header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}
header nav form input, header nav form ::placeholder, header nav form span{
    color: black !important;
}

header.uk-background-primary {
    background-color: green;
    color: black;
}

div.uk-navbar-left a{
    color: black;
    font-size: 90 px;
    font-family: 'Times New Roman', Times, serif;
}

li a{
    color: black;
}

div.uk-navbar-right a{
    color: black;
}
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
     margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not( :last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3 ease;
}
.footer-col .social-links a{
    color: #24262b;
    background-color: #ffffff;
}
/*responsive*/
@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;    
    }
}
@media(max-width: 574px){
    .footer-col {
        width: 100%;   
    }
}

