header.uk-background-primary {
    background-color: green;
    color: black;
}

div.uk-navbar-left a{
    color: black;
    font-size: 90 px;
    font-family: 'Times New Roman', Times, serif;
}

li a{
    color: black;
}

div.uk-navbar-right a{
    color: black;
}

